Repository startino/futino, pull requests merged in 2023-08, with the labels that each got.

#31 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement

#32 Default Code of Conduct
  CODE_OF_CONDUCT.md
Labels: enhancement

#34 Bapta Fix CSP Error
  apps/bapta/src/app.html
Labels: bug

#36 Web-Template Fix Main
  apps/web-template/src/routes/+page.svelte
Labels: bug

#35 Bapta Responsive Design Changes
  apps/bapta/src/app.postcss
  apps/bapta/src/routes/+page.svelte
  apps/bapta/src/routes/about/+page.svelte
  apps/bapta/src/routes/adventures/+page.svelte
  apps/bapta/src/routes/adventures/kilimanjaro/+page.svelte
  apps/bapta/src/routes/adventures/zanzibar/+page.svelte
  apps/bapta/src/routes/tour/+page.svelte
  apps/bapta/src/routes/tour/adventures.ts
Labels: bug

#37 Web-Template Fix main element
  apps/web-template/src/routes/+page.svelte
Labels: bug

#48 Add liberole
  .github/dependabot.yml
  .github/workflows/deploy.yml
  apps/liberole/.eslintignore
  apps/liberole/.eslintrc.cjs
  apps/liberole/.gitattributes
  apps/liberole/.gitignore
  apps/liberole/csp-directives.mjs
  apps/liberole/package.json
  apps/liberole/playwright.config.ts
  apps/liberole/postcss.config.cjs
  apps/liberole/src/app.d.ts
  apps/liberole/src/app.html
  apps/liberole/src/app.postcss
  apps/liberole/src/index.test.ts
  apps/liberole/src/routes/+layout.js
  apps/liberole/src/routes/+layout.svelte
  apps/liberole/src/routes/+page.svelte
  apps/liberole/static/favicon.png
  apps/liberole/svelte.config.js
  apps/liberole/tailwind.config.cjs
  apps/liberole/tests/test.ts
  apps/liberole/tsconfig.json
  apps/liberole/vite.config.ts
  pnpm-lock.yaml
Labels: enhancement, dependencies

#49 Fix prettierignore and add allheim
  .github/workflows/deploy.yml
  .prettierignore
  apps/allheim/src/routes/schedule/+page.svelte
  apps/liberole/src/app.html
  apps/liberole/src/routes/+page.svelte
  apps/liberole/tailwind.config.cjs
Labels: bug, enhancement, dependencies, javascript

#52 Bapta Fix HTML (Chrome) Errors
  apps/bapta/src/lib/components/organisms/Footer.svelte
  apps/bapta/tailwind.config.cjs
Labels: bug

#57 Header perfected
  apps/web-template/src/lib/atoms/Logo.svelte
  apps/web-template/src/lib/atoms/ThemeButton.svelte
  apps/web-template/src/lib/molecules/Header.svelte
  apps/web-template/src/routes/+page.svelte
Labels: enhancement

#58 Add Web-Template to Deploy
  .github/workflows/deploy.yml
Labels: bug

#61 Update dependabot.yml
  .github/dependabot.yml
Labels: bug

#62 Add back Allheim to dependabot
  .github/dependabot.yml
Labels: bug

#65 Website UI changes
  .github/dependabot.yml
  apps/eksno/src/lib/molecules/Header.svelte
  apps/eksno/src/lib/patch_notes.md
  apps/eksno/src/routes/dnd/patch-notes/+page.svelte
  apps/eksno/tailwind.config.cjs
  apps/web-template/src/lib/molecules/Header.svelte
  apps/web-template/src/routes/+page.svelte
  apps/web-template/tailwind.config.cjs
  apps/website/src/lib/components/organisms/ContactForm.svelte
  apps/website/src/lib/components/organisms/InViewSlide.svelte
  apps/website/src/lib/components/organisms/Inview.svelte
  apps/website/src/lib/components/organisms/Tabs.svelte
  apps/website/src/lib/components/organisms/TransitionElement.svelte
  apps/website/src/lib/components/organisms/inView.ts
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/about/+page.svelte
  apps/website/src/routes/contact/+page.svelte
  apps/website/src/routes/pricing/+page.svelte
  apps/website/src/routes/pricing/CommisionTab.svelte
  apps/website/src/routes/pricing/HostingTab.svelte
  apps/website/src/routes/pricing/OfferText.svelte
  apps/website/src/routes/pricing/PartnershipTab.svelte
  apps/website/src/routes/pricing/Promotion.svelte
  apps/website/src/routes/pricing/PromotionToggle.svelte
  apps/website/src/routes/pricing/Tab.svelte
  apps/website/src/routes/pricing/TabNav.svelte
  apps/website/src/routes/pricing/plans.ts
  apps/website/src/routes/pricing/tabs.ts
  apps/website/src/routes/testing/+page.svelte
  apps/website/tailwind.config.cjs
Labels: enhancement

#67 Bapta fixed non-existent hrefs. from "/tour" to "/tours"
  apps/bapta/src/lib/components/organisms/ToursSnippet.svelte
Labels: bug

#68 Bapta imported header and fixed missing href errors
  apps/bapta/src/app.html
  apps/bapta/src/app.postcss
  apps/bapta/src/lib/components/atoms/Icon.svelte
  apps/bapta/src/lib/components/molecules/FAQCard.svelte
  apps/bapta/src/lib/components/molecules/TourCard.svelte
  apps/bapta/src/lib/components/organisms/Header.svelte
  apps/bapta/src/lib/components/tsData/tours.ts
  apps/bapta/src/routes/+page.svelte
  apps/bapta/src/routes/destinations/arusha/+page.md
  apps/bapta/src/routes/destinations/lakemanyara/+page.md
  apps/bapta/src/routes/destinations/lakenatron/+page.md
  apps/bapta/src/routes/destinations/layeeyasi/+page.md
  apps/bapta/src/routes/destinations/ngorongoro/+page.md
  apps/bapta/src/routes/destinations/olduvaigorge/+page.md
  apps/bapta/src/routes/destinations/serengeti/+page.md
  apps/bapta/src/routes/destinations/tarangire/+page.md
  apps/bapta/src/routes/tours/12-days-honeymoon-safari-&-beach/+page.md
  apps/bapta/src/routes/tours/6-days-tanzania-safari-calving-season/+page.md
  apps/bapta/src/routes/tours/6-days-western-corridor-migration/+page.md
  apps/bapta/src/routes/tours/7-days-camping-safari/+page.md
  apps/bapta/src/routes/tours/7-days-north-migrationsafari/+page.md
  apps/bapta/src/routes/tours/7-days-tanzania-safari/+page.md
  apps/bapta/src/routes/tours/8-days-family-safari/+page.md
  apps/bapta/src/routes/tours/8-days-north-migration-safari/+page.md
  apps/bapta/src/routes/tours/9-days-family-tanzania-safari-&-beach/+page.md
  apps/bapta/src/routes/tours/9-days-honeymoon-safari-&-beach/+page.md
  apps/bapta/src/routes/tours/lake-manyara-national-park-day-trip/+page.md
  apps/bapta/src/routes/tours/ngorongoro-crater-day-trip/+page.md
  apps/bapta/src/routes/tours/tangire_national_park_day_trip/+page.md
  apps/bapta/src/routes/tours/tarangire-national-park-day-trip/+page.md
  apps/bapta/userflow.md
Labels: bug, enhancement

#69 Bapta fixed the final href error
  apps/bapta/src/routes/tours/7-days-north-migration-safari/+page.md
Labels: bug

#71 Bapta Work on Tour Pages
  apps/bapta/src/app.postcss
  apps/bapta/src/routes/+page.svelte
  apps/bapta/src/routes/tours/+layout.svelte
  apps/bapta/src/routes/tours/12-days-honeymoon-safari-&-beach/+page.md
  apps/bapta/src/routes/tours/6-days-tanzania-safari-calving-season/+page.md
  apps/bapta/src/routes/tours/6-days-western-corridor-migration/+page.md
  apps/bapta/src/routes/tours/7-days-camping-safari/+page.md
  apps/bapta/src/routes/tours/7-days-north-migration-safari/+page.md
  apps/bapta/src/routes/tours/7-days-tanzania-safari/+page.md
  apps/bapta/src/routes/tours/8-days-family-safari/+page.md
  apps/bapta/src/routes/tours/8-days-north-migration-safari/+page.md
  apps/bapta/src/routes/tours/9-days-family-tanzania-safari-&-beach/+page.md
  apps/bapta/src/routes/tours/9-days-honeymoon-safari-&-beach/+page.md
  apps/bapta/src/routes/tours/AccommodationOption.svelte
  apps/bapta/src/routes/tours/AccommodationToggle.svelte
  apps/bapta/src/routes/tours/lake-manyara-national-park-day-trip/+page.md
  apps/bapta/src/routes/tours/ngorongoro-crater-day-trip/+page.md
  apps/bapta/src/routes/tours/tarangire-national-park-day-trip/+page.md
  apps/website/src/routes/pricing/PromotionToggle.svelte
Labels: enhancement

#74 Bapta Supabase Integration and functionality
  apps/bapta/package.json
  apps/bapta/src/lib/supabase.types.ts
  apps/bapta/src/routes/admin/+page.svelte
  apps/bapta/src/routes/adventures/+page.svelte
  apps/bapta/src/routes/checkout/+page.svelte
  pnpm-lock.yaml
Labels: enhancement

#75 Bapta Authentication
  apps/bapta/src/lib/components/atoms/Authenticate.svelte
  apps/bapta/src/routes/admin/+page.svelte
  package.json
  pnpm-lock.yaml
Labels: enhancement, dependencies, javascript

#77 Bapta improve image performance
  apps/bapta/src/lib/components/atoms/Logo.svelte
  apps/bapta/src/routes/+page.svelte
  apps/bapta/static/favicon.png
  apps/bapta/static/favicon.webp
  apps/bapta/static/images/kilimanjaro/7.webp
  apps/bapta/static/images/kilimanjaro/hero.webp
  apps/bapta/static/images/meru/1.webp
  apps/bapta/static/images/meru/hero.webp
  apps/bapta/static/images/safari/59.webp
  apps/bapta/static/images/safari/63.webp
  apps/bapta/static/images/zanzibar/1.webp
  apps/bapta/static/serengeti sunset.jpg
  apps/bapta/tailwind.config.cjs
Labels: bug

#78 Bapta emoved double headers and footers
  apps/bapta/adventures_userflow.md
  apps/bapta/src/routes/adventures/kilimanjaro/+page.svelte
  apps/bapta/src/routes/adventures/mountmeru/+page.svelte
Labels: bug

#79 Bapta Update Content and small ui fixes on all pages
  apps/bapta/src/app.html
  apps/bapta/src/app.postcss
  apps/bapta/src/lib/components/molecules/TourCard.svelte
  apps/bapta/src/lib/components/organisms/Header.svelte
  apps/bapta/src/lib/components/pages/MountPage.svelte
  apps/bapta/src/routes/+page.svelte
  apps/bapta/src/routes/about/+page.svelte
  apps/bapta/src/routes/adventures/adventures.ts
  apps/bapta/src/routes/adventures/kilimanjaro/+page.svelte
  apps/bapta/src/routes/adventures/mountmeru/+page.svelte
  apps/bapta/src/routes/contact/+page.svelte
  apps/bapta/src/routes/tours/+page@.svelte
  apps/bapta/tailwind.config.cjs
Labels: bug

#80 Bapta fix and update header
  apps/bapta/src/lib/components/atoms/Logo.svelte
  apps/bapta/src/lib/components/organisms/Header.svelte
Labels: bug

#82 Bapta fixed erroring hrefs
  apps/bapta/src/lib/components/molecules/TourCard.svelte
  apps/bapta/src/lib/components/tsData/tours.ts
Labels: bug

#83 Bapta ui changed on hero, tour cards, and adventure pages
  apps/bapta/src/app.postcss
  apps/bapta/src/lib/components/molecules/TourCard.svelte
  apps/bapta/src/lib/components/organisms/ContactForm.svelte
  apps/bapta/src/lib/components/organisms/ToursSnippet.svelte
  apps/bapta/src/lib/components/pages/MountPage.svelte
  apps/bapta/src/lib/components/tsData/tours.ts
  apps/bapta/src/routes/+page.svelte
  apps/bapta/src/routes/about/+page.svelte
  apps/bapta/src/routes/adventures/+page.svelte
  apps/bapta/src/routes/adventures/kilimanjaro/+page.svelte
  apps/bapta/src/routes/adventures/mountmeru/+page.svelte
  apps/bapta/src/routes/adventures/zanzibar/+page.svelte
  apps/bapta/src/routes/adventures/zanzibar/ZanzibarPackageCard.svelte
  apps/bapta/src/routes/contact/+page.svelte
  apps/bapta/src/routes/tours/+page@.svelte
  apps/bapta/static/images/meru/hero.webp
  apps/bapta/static/images/meru/original/2.jpg
Labels: bug

#84 Website landing page rework
  apps/website/package.json
  apps/website/src/app.html
  apps/website/src/app.postcss
  apps/website/src/lib/components/atoms/Icon.svelte
  apps/website/src/lib/components/atoms/Logo.svelte
  apps/website/src/lib/components/organisms/ChapterMenu.svelte
  apps/website/src/lib/components/organisms/InViewSlide.svelte
  apps/website/src/lib/components/organisms/Inview.svelte
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/NavMenu.svelte
  apps/website/src/routes/benefits.ts
  apps/website/src/routes/chapters.ts
  apps/website/src/routes/recentWork.ts
  apps/website/src/routes/serviceChapters.ts
  apps/website/src/routes/testing/+page.svelte
  apps/website/src/routes/tsparticles-custom-import.ts
  apps/website/src/routes/tsparticles-options.ts
  apps/website/static/artwork/design_illustration.png
  apps/website/static/artwork/develop_illustration.png
  apps/website/static/artwork/hosting_illustration.jpg
  apps/website/static/artwork/hosting_illustration.png
  apps/website/static/artwork/hosting_illustration_2.png
  apps/website/static/artwork/stable-diffusion-xl(1).jpg
  apps/website/static/artwork/stable-diffusion-xl(2).jpg
  apps/website/static/artwork/stable-diffusion-xl(3).jpg
  apps/website/static/artwork/stable-diffusion-xl(4).jpg
  apps/website/static/artwork/stable-diffusion-xl(5).jpg
  apps/website/static/artwork/stable-diffusion-xl(6).jpg
  apps/website/static/artwork/stable-diffusion-xl(7)_clipdrop-cleanup.jpg
  apps/website/static/artwork/stable-diffusion-xl.jpg
  apps/website/static/artwork/temp_illustration.png
  apps/website/tailwind.config.cjs
  pnpm-lock.yaml
Labels: bug, enhancement

#85 Website pricing page rework for ui and norp
  apps/website/src/app.postcss
  apps/website/src/lib/components/atoms/Icon.svelte
  apps/website/src/routes/pricing/+page.svelte
  apps/website/src/routes/pricing/Promotion.svelte
  apps/website/src/routes/pricing/PromotionToggle.svelte
  apps/website/src/routes/pricing/Tab.svelte
  apps/website/src/routes/pricing/TierCard.svelte
  apps/website/src/routes/pricing/TierFeatures.svelte
  apps/website/src/routes/pricing/TierListing.svelte
  apps/website/src/routes/pricing/plans.ts
  apps/website/src/routes/pricing/tabs.ts
Labels: enhancement

#102 Website landing page animations
  apps/website/src/lib/components/atoms/Button.svelte
  apps/website/src/lib/components/organisms/ClientCarousel.svelte
  apps/website/src/lib/components/organisms/Inview.svelte
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/serviceChapters.ts
Labels: bug

#103 Website payment page ui changes
  apps/website/src/app.html
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/benefits.ts
  apps/website/src/routes/pricing/+page.svelte
  apps/website/src/routes/pricing/OfferText.svelte
  apps/website/src/routes/pricing/PromotionToggle.svelte
  apps/website/src/routes/pricing/Tab.svelte
  apps/website/src/routes/pricing/TierCard.svelte
  apps/website/src/routes/pricing/tabs.ts
  apps/website/src/routes/recentWork.ts
  apps/website/src/routes/serviceChapters.ts
  apps/website/tailwind.config.cjs
Labels: bug

#108 Website scheduling system and general ui throughout
  apps/website/csp-directives.mjs
  apps/website/src/lib/components/atoms/Button.svelte
  apps/website/src/lib/components/organisms/Header.svelte
  apps/website/src/routes/booking/+page.svelte
  apps/website/src/routes/pricing/+page.svelte
  apps/website/src/routes/pricing/TierListing.svelte
  apps/website/src/routes/pricing/plans.ts
Labels: enhancement

#109 Website Contact system functionality and form ui styling
  apps/website/package.json
  apps/website/src/lib/components/atoms/Authenticate.svelte
  apps/website/src/lib/components/organisms/ChapterMenu.svelte
  apps/website/src/lib/components/organisms/ContactForm.svelte
  apps/website/src/lib/components/organisms/NavMenu.svelte
  apps/website/src/lib/supabase.types.ts
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/admin/+page.svelte
  apps/website/src/routes/contact/+page.svelte
  apps/website/src/routes/pricing/plans.ts
  pnpm-lock.yaml
Labels: enhancement

#110 Website Setup Stripe using Supabase Edge functions
  apps/website/.gitignore
  apps/website/.vscode/settings.json
  apps/website/csp-directives.mjs
  apps/website/package.json
  apps/website/src/lib/components/atoms/Button.svelte
  apps/website/src/lib/server/hooks.server.ts
  apps/website/src/routes/benefits.ts
  apps/website/src/routes/cancel/+page.svelte
  apps/website/src/routes/checkout/+page.svelte
  apps/website/src/routes/pricing/+page.svelte
  apps/website/src/routes/pricing/TierListing.svelte
  apps/website/src/routes/pricing/handleCheckout.ts
  apps/website/src/routes/pricing/plans.ts
  apps/website/src/routes/pricing/tabs.ts
  apps/website/src/routes/success/+page.svelte
  apps/website/supabase/.gitignore
  apps/website/supabase/config.toml
  apps/website/supabase/functions/.vscode/extensions.json
  apps/website/supabase/functions/.vscode/settings.json
  apps/website/supabase/functions/_shared/cors.ts
  apps/website/supabase/functions/hello-world/index.ts
  apps/website/supabase/functions/stripe-checkout/index.ts
  apps/website/supabase/seed.sql
  apps/website/website.code-workspace
  pnpm-lock.yaml
Labels: enhancement
