Repository startino/futino, pull requests merged in 2024-08, with the labels that each got.

#1442 fix the date offset issue
  apps/oak/package.json
  apps/oak/src/routes/api/snapshot/+server.ts
  apps/oak/src/routes/app/bills/[id]/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/report/data-table.svelte
  apps/oak/supabase/functions/report-snapshot/index.ts
Labels: dependencies, typescript, app, svelte

#1441 change sign button to 'final approval'
  apps/oak/src/lib/server/db/report.ts
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/supabase/functions/report-snapshot/index.ts
Labels: typescript, app, svelte

#1443 Feature/oak contract report filter
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/db/report.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/contracts/contract-form.svelte
  apps/oak/src/routes/app/contracts/data-table.svelte
  apps/oak/supabase/functions/report-snapshot/index.ts
  pnpm-lock.yaml
Labels: typescript, app, svelte

#1444 bill approval flow start with the contract owner
  apps/oak/src/routes/app/bills/+page.server.ts
Labels: typescript, app

#1445 Feature/oak readable bill
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/routes/app/bills/[id]/+page.svelte
  apps/oak/src/routes/app/bills/bill-form.svelte
  apps/oak/src/routes/app/bills/data-table.svelte
Labels: typescript, app, svelte

#1464 Feature/oak bill number input
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/routes/app/bills/+page.server.ts
  apps/oak/src/routes/app/bills/bill-form.svelte
  apps/oak/src/routes/app/bills/data-table.svelte
Labels: typescript, app, svelte

#1465 updated icp hedline and updated cost
  apps/startino/src/app.html
  apps/startino/src/lib/config/website.ts
  apps/startino/src/routes/+page.svelte
  apps/startino/src/routes/PricingSection.svelte
  apps/startino/src/routes/blog/+page.svelte
  pnpm-lock.yaml
Labels: typescript, app, svelte

#1494 make bill number field a text field
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/routes/app/bills/bill-form.svelte
Labels: typescript, app, svelte

#1509 update accrual balance calculation
  apps/oak/src/lib/utils.ts
  apps/oak/supabase/functions/report-snapshot/index.ts
Labels: typescript, app
