Repository startino/futino, pull requests merged in 2024-04, with the labels that each got.

#947 GGSoccer new camp and button fix
  apps/ggsoccer/src/routes/+page.svelte
  pnpm-lock.yaml
Labels: app, svelte

#948 Bapta works now
  apps/bapta/src/lib/components/molecules/JourneyCard.svelte
  apps/bapta/src/lib/journeysStore.ts
  apps/bapta/src/routes/request-tour/+page.svelte
  apps/bapta/src/routes/tours/+layout.svelte
  pnpm-lock.yaml
Labels: typescript, app, svelte

#972 Move Location from camps to title
  apps/ggsoccer/src/routes/+page.svelte
Labels: app, svelte

#949 updated UI for more stats like datetimes and links, implemented marking as irrelevant
  apps/rest/src/lib/api.ts
  apps/rest/src/lib/components/ui/data-table/relative-date-cell.svelte
  apps/rest/src/lib/components/ui/data-table/status-cell.svelte
  apps/rest/src/lib/components/ui/lead-viewer/lead-viewer.svelte
  apps/rest/src/lib/types/supabase.ts
  apps/rest/src/routes/app/home/+page.svelte
Labels: typescript, app, svelte

#995 rework navigation
  apps/oak/src/lib/components/organisms/Sidebar.svelte
  apps/oak/src/routes/app/+layout@.svelte
  apps/oak/src/routes/app/+page.svelte
  apps/oak/src/routes/app/bill-entry-form/+page.svelte
  apps/oak/src/routes/app/bill-repository/+page.svelte
  apps/oak/src/routes/app/bills/+page.svelte
  apps/oak/src/routes/app/company-account/+page.svelte
  apps/oak/src/routes/app/contract-report/+page.svelte
  apps/oak/src/routes/app/contract-repository/+page.svelte
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/help/+page.svelte
  apps/oak/src/routes/app/organization-account/+page.svelte
  apps/oak/src/routes/app/pending-bill-entris/+page.svelte
  apps/oak/src/routes/app/pending-contract-modifications/+page.svelte
  apps/oak/src/routes/app/personal-account/+page.svelte
  apps/oak/src/routes/app/report/+page.svelte
  apps/oak/src/routes/app/users/+page.svelte
Labels: app, svelte

#996 update database types
  apps/oak/src/lib/api-client.ts
  apps/oak/src/lib/server/supabase.types.ts
Labels: typescript, app

#998 Startino - updating team section
  apps/startino/src/routes/+page.svelte
  pnpm-lock.yaml
Labels: app, svelte

#1008 GGSoccer fix details and update ui with location
  apps/ggsoccer/src/routes/+page.svelte
Labels: app, svelte

#1010 feature / oak contracts datatable
  apps/oak/package.json
  apps/oak/src/app.d.ts
  apps/oak/src/app.html
  apps/oak/src/app.pcss
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/api-client.ts
  apps/oak/src/lib/components/ui/shell/index.ts
  apps/oak/src/lib/components/ui/shell/marketing-shell.svelte
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/stores.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/lib/utils.ts
  apps/oak/src/routes/(marketing)/+layout.svelte
  apps/oak/src/routes/(marketing)/+page.svelte
  apps/oak/src/routes/(marketing)/login/+page.svelte
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/+layout.ts
  apps/oak/src/routes/app/+layout@.svelte
  apps/oak/src/routes/app/contracts/+page.server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/data-table.svelte
  apps/oak/static/oak-tree.jpg
  apps/oak/static/road-of-oak-trees.jpg
  apps/oak/theme/color.cjs
  apps/oak/theme/typography.cjs
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte, css

#1044 Rest fixing bugs
  apps/rest/src/lib/components/ui/lead-viewer/lead-viewer.svelte
  apps/rest/src/routes/app/+layout.svelte
Labels: app, svelte

#1046 Feature / oak user auth
  apps/oak/package.json
  apps/oak/src/lib/components/auth-shell/auth-shell.svelte
  apps/oak/src/lib/components/auth-shell/index.ts
  apps/oak/src/lib/components/molecules/Header.svelte
  apps/oak/src/lib/components/ui/button/button.svelte
  apps/oak/src/lib/components/ui/button/index.ts
  apps/oak/src/lib/components/ui/form/form-button.svelte
  apps/oak/src/lib/components/ui/form/form-description.svelte
  apps/oak/src/lib/components/ui/form/form-element-field.svelte
  apps/oak/src/lib/components/ui/form/form-field-errors.svelte
  apps/oak/src/lib/components/ui/form/form-field.svelte
  apps/oak/src/lib/components/ui/form/form-fieldset.svelte
  apps/oak/src/lib/components/ui/form/form-label.svelte
  apps/oak/src/lib/components/ui/form/form-legend.svelte
  apps/oak/src/lib/components/ui/form/index.ts
  apps/oak/src/lib/components/ui/label/index.ts
  apps/oak/src/lib/components/ui/label/label.svelte
  apps/oak/src/lib/components/ui/shell/marketing-shell.svelte
  apps/oak/src/lib/schemas.ts
  apps/oak/src/routes/(marketing)/+layout.svelte
  apps/oak/src/routes/(marketing)/+layout.ts
  apps/oak/src/routes/(marketing)/login/+page.server.ts
  apps/oak/src/routes/(marketing)/login/+page.svelte
  apps/oak/src/routes/(marketing)/register/+page.server.ts
  apps/oak/src/routes/(marketing)/register/+page.svelte
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#1045 Rest fixing comment value not changing
  apps/rest/src/lib/components/ui/lead-viewer/lead-viewer.svelte
  apps/rest/src/lib/components/ui/textarea/textarea.svelte
  apps/rest/src/lib/server/supabase.types.ts
  apps/rest/src/routes/app/home/+page.svelte
Labels: typescript, app, svelte

#1090 Feature / oak contract view
  apps/oak/package.json
  apps/oak/src/lib/components/ui/breadcrumb/breadcrumb-ellipsis.svelte
  apps/oak/src/lib/components/ui/breadcrumb/breadcrumb-item.svelte
  apps/oak/src/lib/components/ui/breadcrumb/breadcrumb-link.svelte
  apps/oak/src/lib/components/ui/breadcrumb/breadcrumb-list.svelte
  apps/oak/src/lib/components/ui/breadcrumb/breadcrumb-page.svelte
  apps/oak/src/lib/components/ui/breadcrumb/breadcrumb-separator.svelte
  apps/oak/src/lib/components/ui/breadcrumb/breadcrumb.svelte
  apps/oak/src/lib/components/ui/breadcrumb/index.ts
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/lib/utils.ts
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/contracts/data-table.svelte
  apps/oak/tsconfig.json
  apps/oak/vite.config.ts
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#1093 Hotfix GGSoccer Fix CTA Button Layout
  apps/ggsoccer/src/routes/+page.svelte
Labels: app, svelte

#1094 implement oak approval flow
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/vite.config.ts
  pnpm-lock.yaml
Labels: typescript, app, svelte
