Repository startino/futino, pull requests merged in 2024-03, with the labels that each got.

#633 Config PUBLIC_API_BASE_URL and add some types
  apps/aitino/.env.example
  apps/aitino/src/hooks.server.ts
  apps/aitino/src/lib/components/ui/prompt-editor/prompt-editor.svelte
  apps/aitino/src/lib/config.ts
  apps/aitino/src/routes/(marketing)/+page.server.ts
  apps/aitino/src/routes/app/editors/maeve/+page.server.ts
  apps/aitino/src/routes/app/sessions/+page.svelte
Labels: typescript, app, svelte

#634 Feature/aitino auth
  apps/aitino/src/hooks.server.ts
  apps/aitino/src/lib/components/ui/alert/alert-description.svelte
  apps/aitino/src/lib/components/ui/alert/alert-title.svelte
  apps/aitino/src/lib/components/ui/alert/alert.svelte
  apps/aitino/src/lib/components/ui/alert/index.ts
  apps/aitino/src/lib/components/ui/card/index.ts
  apps/aitino/src/lib/schma.ts
  apps/aitino/src/routes/+layout.server.ts
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/+layout.ts
  apps/aitino/src/routes/auth/callback/+server.ts
  apps/aitino/src/routes/login/+page.server.ts
  apps/aitino/src/routes/login/+page.svelte
  apps/aitino/src/routes/register/+page.server.ts
  apps/aitino/src/routes/register/+page.svelte
Labels: typescript, app, svelte

#641 Rename maeve to crew, help redirect to discord, remove workspace button
  apps/aitino/src/lib/components/RightEditorSidebar.svelte
  apps/aitino/src/lib/components/ui/custom-node/agent.svelte
  apps/aitino/src/lib/components/ui/custom-node/prompt.svelte
  apps/aitino/src/lib/components/ui/library/library.svelte
  apps/aitino/src/lib/dummy-data/crewPresets.ts
  apps/aitino/src/lib/dummy-data/temp-crew.ts
  apps/aitino/src/lib/server/db.ts
  apps/aitino/src/lib/types/index.ts
  apps/aitino/src/lib/types/loads.ts
  apps/aitino/src/lib/types/models.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/(marketing)/+page.svelte
  apps/aitino/src/routes/app/+layout.svelte
  apps/aitino/src/routes/app/editors/crew/+page.server.ts
  apps/aitino/src/routes/app/editors/crew/+page.svelte
  apps/aitino/src/routes/app/editors/crew/+page.svelte.bak
  apps/aitino/src/routes/app/editors/crew/+page.ts
  apps/aitino/src/routes/app/editors/crew/nodes-and-edges.ts
  apps/aitino/src/routes/app/sessions/+page.server.ts
  apps/aitino/src/routes/app/sessions/+page.svelte
  apps/aitino/static/screenshots/crew_1.png
  apps/aitino/static/screenshots/crew_1_no_user_prompt.png
  apps/aitino/static/screenshots/crew_agents.png
  apps/aitino/static/screenshots/crew_editor_1.png
Labels: typescript, app, svelte

#647 updating mobile view of pricing page to new nnmbers
  apps/website/src/routes/pricing/+page.svelte
  apps/website/src/routes/pricing/TierListing.svelte
Labels: app, svelte

#674 Fixups
  apps/startino/src/routes/+page.svelte
  apps/startino/static/favicon.png
  apps/startino/static/favicon.webp
  apps/startino/static/logo.webp
Labels: app, svelte

#675 Startino - Correct name to Futino
  apps/startino/src/app.html
  apps/startino/src/routes/+page.svelte
Labels: app, svelte

#676 Startino - w-screen bug side scroll and add alt texts
  apps/startino/src/routes/+layout.svelte
  apps/startino/src/routes/+page.svelte
Labels: app, svelte

#678 Update dependabot.yml config
  .github/dependabot.yml
Labels: ci

#685 Disable Build Tests in Favor of Deploy Tests
  .github/workflows/build.yml
Labels: ci

#700 Startino Improvements
  apps/startino/src/routes/+page.svelte
Labels: app, svelte

#701 Leon and Minilik entries finished
  apps/startino/src/routes/+page.svelte
  apps/startino/static/portraits/minilik-zeru.jpg
Labels: app, svelte

#715 Startino Improve Process
  apps/startino/src/routes/+page.svelte
Labels: app, svelte

#746 fix oak
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/api-client.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/(marketing)/+layout.server.ts
  apps/oak/src/routes/(marketing)/+layout.ts
  apps/oak/src/routes/(marketing)/login/+page.server.ts
  apps/oak/src/routes/(marketing)/register/+page.server.ts
  apps/oak/src/routes/(marketing)/register/+page.svelte
  apps/oak/src/routes/app/+page.server.ts
  apps/oak/src/routes/app/contract-entry-form/+page.server.ts
  apps/oak/src/routes/app/pending-contracts/+page.server.ts
  apps/oak/src/routes/app/pending-contracts/+page.svelte
Labels: typescript, app, svelte

#793 updated some of the images
  apps/wonderlee/src/routes/our-work/projects.ts
  apps/wonderlee/static/projects/new_images/75_DWBR_1.webp
  apps/wonderlee/static/projects/new_images/Balanced-slide-gate.webp
  apps/wonderlee/static/projects/new_images/Beacon_Hill_On_Slope.webp
  apps/wonderlee/static/projects/new_images/CNC_20slide_20gate.webp
  apps/wonderlee/static/projects/new_images/Cantilever-gate-Repulse-Bay.webp
  apps/wonderlee/static/projects/new_images/Curved_20Slide_20Gate_20Stanley.webp
  apps/wonderlee/static/projects/new_images/Grand_Garden.webp
  apps/wonderlee/static/projects/new_images/HKDI_3-leaf_telescopic_1.webp
  apps/wonderlee/static/projects/new_images/HKJC_20curved_20slide_20gate.webp
  apps/wonderlee/static/projects/new_images/K4_20elevation.jpg
  apps/wonderlee/static/projects/new_images/K4_20elevation.webp
  apps/wonderlee/static/projects/new_images/Lung_20Ha_20Wan.webp
  apps/wonderlee/static/projects/new_images/Moorsom_20Drive.webp
  apps/wonderlee/static/projects/new_images/Museum_S-3000.webp
  apps/wonderlee/static/projects/new_images/Renlita_20Stacking_20Door.webp
  apps/wonderlee/static/projects/new_images/Riva.webp
  apps/wonderlee/static/projects/new_images/Royal_20Crest.webp
  apps/wonderlee/static/projects/new_images/Shek-O_20Slide_20Gate.webp
  apps/wonderlee/static/projects/new_images/Singapore_20school.webp
  apps/wonderlee/static/projects/new_images/Square_Mile_Renlita_1.webp
  apps/wonderlee/static/projects/new_images/Sunny_20Hills.webp
  apps/wonderlee/static/projects/new_images/Tai_20Kwun_202.webp
  apps/wonderlee/static/projects/new_images/Telescopic-Gate-1-Tai-Hang-Road.webp
  apps/wonderlee/static/projects/new_images/Telescopic-Gate-King's-Garden.webp
  apps/wonderlee/static/projects/new_images/Telescopic_20Gate.webp
  apps/wonderlee/static/projects/new_images/Up-hill.webp
  apps/wonderlee/static/projects/new_images/Uphill_20slide_20gate.webp
  apps/wonderlee/static/projects/new_images/Wood_20gate.webp
  apps/wonderlee/static/projects/new_images/acacia.webp
  apps/wonderlee/static/projects/new_images/holidayInn.webp
  apps/wonderlee/static/projects/new_images/mantak.webp
  apps/wonderlee/static/projects/new_images/sheko.webp
  apps/wonderlee/static/projects/new_images/waterloo_20copper_20slide_20gate_201.webp
Labels: typescript, app

#811 updating the email
  apps/wonderlee/src/routes/contact/+page.svelte
  apps/wonderlee/src/routes/legal/privacy/+page.md
Labels: app, svelte

#828 updating contents
  apps/ggsoccer/package.json
  apps/ggsoccer/src/routes/+page.svelte
Labels: dependencies, app, svelte
