Repository startino/futino, pull requests merged in 2024-05, with the labels that each got.

#1153 Feature/oak user management
  apps/oak/package.json
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/components/organisms/Sidebar.svelte
  apps/oak/src/lib/components/ui/combobox/combobox.svelte
  apps/oak/src/lib/components/ui/combobox/index.ts
  apps/oak/src/lib/components/ui/command/command-dialog.svelte
  apps/oak/src/lib/components/ui/command/command-empty.svelte
  apps/oak/src/lib/components/ui/command/command-group.svelte
  apps/oak/src/lib/components/ui/command/command-input.svelte
  apps/oak/src/lib/components/ui/command/command-item.svelte
  apps/oak/src/lib/components/ui/command/command-list.svelte
  apps/oak/src/lib/components/ui/command/command-separator.svelte
  apps/oak/src/lib/components/ui/command/command-shortcut.svelte
  apps/oak/src/lib/components/ui/command/command.svelte
  apps/oak/src/lib/components/ui/command/index.ts
  apps/oak/src/lib/components/ui/dialog/dialog-content.svelte
  apps/oak/src/lib/components/ui/dialog/dialog-description.svelte
  apps/oak/src/lib/components/ui/dialog/dialog-footer.svelte
  apps/oak/src/lib/components/ui/dialog/dialog-header.svelte
  apps/oak/src/lib/components/ui/dialog/dialog-overlay.svelte
  apps/oak/src/lib/components/ui/dialog/dialog-portal.svelte
  apps/oak/src/lib/components/ui/dialog/dialog-title.svelte
  apps/oak/src/lib/components/ui/dialog/index.ts
  apps/oak/src/lib/components/ui/form-dialog/form-dialog.svelte
  apps/oak/src/lib/components/ui/form-dialog/index.ts
  apps/oak/src/lib/components/ui/popover/index.ts
  apps/oak/src/lib/components/ui/popover/popover-content.svelte
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/stores.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/(marketing)/register/+page.server.ts
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/+layout@.svelte
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/pending-contracts/+page.server.ts
  apps/oak/src/routes/app/pending-contracts/+page.svelte
  apps/oak/src/routes/app/users/+page.server.ts
  apps/oak/src/routes/app/users/+page.svelte
  apps/oak/src/routes/app/users/data-table-actions.svelte
  apps/oak/src/routes/app/users/data-table.svelte
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#1169 Feature oak org management
  apps/oak/src/app.d.ts
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/api-client.ts
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/+page.server.ts
  apps/oak/src/routes/app/organization-account/+page.server.ts
  apps/oak/src/routes/app/organization-account/+page.svelte
  apps/oak/src/routes/app/organization-account/account-form.svelte
  apps/oak/src/routes/app/organization-account/category-form.svelte
  apps/oak/src/routes/app/organization-account/department-form.svelte
  apps/oak/src/routes/app/organization-account/item.svelte
  apps/oak/src/routes/app/organization-account/org-form.svelte
  apps/oak/src/routes/app/organization-account/project-form.svelte
  apps/oak/src/routes/app/organization-account/vendor-form.svelte
  apps/oak/src/routes/app/users/+page.server.ts
  pnpm-lock.yaml
Labels: typescript, app, svelte

#1171 only get current organization's accounts
  apps/oak/src/routes/app/+layout.server.ts
Labels: typescript, app

#1172 include the contract form trigger button
  apps/oak/src/routes/app/contracts/+page.svelte
Labels: app, svelte

#1173 feat: update package versions and adjust pricing
  apps/ggsoccer/src/routes/+page.svelte
  pnpm-lock.yaml
Labels: app, svelte

#1185 include description to the parent contract dropdown
  apps/oak/src/lib/components/atoms/Combobox.svelte
  apps/oak/src/lib/components/ui/combobox/combobox.svelte
  apps/oak/src/routes/app/contracts/+page.svelte
Labels: app, svelte

#1188 implement a simple IAM
  apps/oak/src/app.d.ts
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/components/ui/combobox/combobox.svelte
  apps/oak/src/lib/components/ui/form-dialog/form-dialog.svelte
  apps/oak/src/lib/iam.ts
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/+layout@.svelte
  apps/oak/src/routes/app/contracts/+page.server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/contracts/data-table.svelte
  apps/oak/src/routes/app/organization-account/+page.svelte
  apps/oak/src/routes/app/users/+page.server.ts
  apps/oak/src/routes/app/users/+page.svelte
  apps/oak/src/routes/app/users/data-table-actions.svelte
  apps/oak/src/routes/app/users/data-table.svelte
Labels: typescript, app, svelte

#1189 oak user department
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/users/+page.server.ts
  apps/oak/src/routes/app/users/+page.svelte
  apps/oak/src/routes/app/users/data-table.svelte
Labels: typescript, app, svelte

#1200 oak personal account management
  apps/oak/src/app.d.ts
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/components/ui/combobox/combobox.svelte
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/stores.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/(marketing)/update-password/+page.server.ts
  apps/oak/src/routes/(marketing)/update-password/+page.svelte
  apps/oak/src/routes/api/reset-password/+server.ts
  apps/oak/src/routes/app/personal-account/+page.server.ts
  apps/oak/src/routes/app/personal-account/+page.svelte
Labels: typescript, app, svelte

#1214 oak remove apiclient module
  apps/oak/src/app.d.ts
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/api-client.ts
  apps/oak/src/lib/server/organization.ts
  apps/oak/src/routes/(marketing)/+layout.server.ts
  apps/oak/src/routes/(marketing)/login/+page.server.ts
  apps/oak/src/routes/(marketing)/register/+page.server.ts
  apps/oak/src/routes/(marketing)/update-password/+page.server.ts
  apps/oak/src/routes/api/reset-password/+server.ts
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/contracts/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/organization-account/+page.server.ts
  apps/oak/src/routes/app/personal-account/+page.server.ts
  apps/oak/src/routes/app/users/+page.server.ts
Labels: typescript, app

#1225 oak contract email notifications
  apps/oak/package.json
  apps/oak/src/app.d.ts
  apps/oak/src/email-templates/contract-signed.handlebars
  apps/oak/src/email-templates/new-contract.handlebars
  apps/oak/src/email-templates/new-user.handlebars
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/app/contracts/+page.server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/personal-account/+page.svelte
  apps/oak/src/routes/app/users/+page.server.ts
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#1233 fixed file not found on vercel server issue with blog
  apps/startino/documentation/blog/2024-05-27-mistakes-of-nontech-founders.md
  apps/startino/package.json
  apps/startino/src/lib/server/blog/github.ts
  apps/startino/src/lib/server/blog/index.ts
  apps/startino/src/routes/blog/(blog-article)/+layout.svelte
  apps/startino/src/routes/blog/(blog-article)/[slug]/+page.server.ts
  apps/startino/src/routes/blog/+layout.svelte
  apps/startino/src/routes/blog/+layout.ts
  apps/startino/src/routes/blog/[slug]/+page.server.ts
  apps/startino/src/routes/blog/[slug]/+page.svelte
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#1234 moving documentation folder to src
  apps/startino/src/documentation/blog/2024-05-27-mistakes-of-nontech-founders.md
  apps/startino/src/lib/server/blog/index.ts
  apps/startino/src/routes/blog/2024-05-27-mistakes-of-nontech-founders.md
Labels: typescript, app

#1235 prerendering all blog pages
  apps/startino/src/routes/blog/+layout.server.ts
Labels: typescript, app

#1236 updating titles, metas, etc
  apps/startino/src/app.html
  apps/startino/src/lib/components/SEO/BlogContentsTable.svelte
  apps/startino/src/lib/config/website.ts
  apps/startino/src/lib/server/blog/index.ts
Labels: typescript, app, svelte

#1241 Rest - adding sortby for discovered_at
  apps/rest/src/lib/components/ui/data-table/data-table.svelte
  apps/rest/src/lib/components/ui/data-table/relative-date-cell.svelte
Labels: app, svelte

#1248 oak threshold flow
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/lib/utils.ts
  apps/oak/src/routes/app/contracts/+page.server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/users/+page.server.ts
  apps/oak/supabase/.temp/cli-latest
Labels: typescript, app, svelte

#1264 add bills page
  apps/oak/src/app.d.ts
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/lib/utils.ts
  apps/oak/src/routes/api/bill-contracts/[vendorId]/+server.ts
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/bills/+page.server.ts
  apps/oak/src/routes/app/bills/+page.svelte
  apps/oak/src/routes/app/bills/data-table.svelte
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/supabase/.temp/cli-latest
Labels: typescript, app, svelte
