Repository startino/futino, pull requests merged in 2024-06, with the labels that each got.

#1296 oak report page
  apps/oak/src/lib/components/ui/date-input/date-input.svelte
  apps/oak/src/lib/components/ui/date-input/index.ts
  apps/oak/src/lib/server/contracts.ts
  apps/oak/src/lib/server/db/report.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/lib/utils.ts
  apps/oak/src/routes/app/bills/+page.svelte
  apps/oak/src/routes/app/report/+page.server.ts
  apps/oak/src/routes/app/report/+page.svelte
  apps/oak/src/routes/app/report/data-table.svelte
Labels: typescript, app, svelte

#1297 fix: reduce dependabot
  .github/dependabot.yml
Labels: ci

#1305 oak bill approval
  apps/oak/src/email-templates/new-entry.handlebars
  apps/oak/src/email-templates/validated-entry.handlebars
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/db/bills.ts
  apps/oak/src/lib/server/db/index.ts
  apps/oak/src/lib/server/db/profiles.ts
  apps/oak/src/lib/server/db/report.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/lib/utils.ts
  apps/oak/src/routes/app/bills/+page.server.ts
  apps/oak/src/routes/app/bills/+page.svelte
  apps/oak/src/routes/app/bills/[id]/+page.server.ts
  apps/oak/src/routes/app/bills/[id]/+page.svelte
  apps/oak/src/routes/app/bills/data-table.svelte
  apps/oak/src/routes/app/contracts/+page.server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/report/+page.svelte
  apps/oak/src/routes/app/report/data-table.svelte
  apps/oak/src/routes/app/users/+page.server.ts
  apps/oak/supabase/.temp/cli-latest
Labels: typescript, app, svelte

#1307 allow bill to be edited
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/db/bills.ts
  apps/oak/src/routes/app/bills/+page.svelte
  apps/oak/src/routes/app/bills/[id]/+page.server.ts
  apps/oak/src/routes/app/bills/[id]/+page.svelte
  apps/oak/src/routes/app/bills/bill-form.svelte
Labels: typescript, app, svelte

#1309 use partial bill schema form updating bill
  apps/oak/src/lib/schemas.ts
  apps/oak/src/routes/app/bills/[id]/+page.server.ts
  apps/oak/src/routes/app/bills/[id]/+page.svelte
  apps/oak/src/routes/app/bills/bill-form.svelte
Labels: typescript, app, svelte

#1308 fixed bug and testing tsparticles
  apps/startino/package.json
  apps/startino/src/app.html
  apps/startino/src/lib/components/ui/contact-form/contact-form.svelte
  apps/startino/src/lib/components/ui/faq/faq-section.svelte
  apps/startino/src/lib/config/particles-config.ts
  apps/startino/src/routes/+layout.svelte
  apps/startino/src/routes/+page.svelte
  apps/startino/src/routes/Particles.svelte
  apps/startino/src/routes/PricingSection.svelte
  apps/startino/src/routes/particles/+page.svelte
  apps/website/src/routes/+page.svelte
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#1310 remove unnecessary iam call
  apps/oak/src/routes/app/users/+page.server.ts
Labels: typescript, app

#1313 oak: move the email template to the static folder
  apps/oak/src/hooks.server.ts
  apps/oak/static/email-templates/contract-signed.handlebars
  apps/oak/static/email-templates/entry-validation.handlebars
  apps/oak/static/email-templates/new-contract.handlebars
  apps/oak/static/email-templates/new-entry.handlebars
  apps/oak/static/email-templates/new-user.handlebars
Labels: typescript, app

#1325 move email templates to lib
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/email-templates/contract-signed.handlebars
  apps/oak/src/lib/email-templates/entry-validation.handlebars
  apps/oak/src/lib/email-templates/new-contract.handlebars
  apps/oak/src/lib/email-templates/new-entry.handlebars
  apps/oak/src/lib/email-templates/new-user.handlebars
Labels: typescript, app

#1326 oak email templates fix with new env
  apps/oak/src/hooks.server.ts
Labels: typescript, app

#1327 Fix/oak email templates
  apps/oak/static/email-templates/contract-signed.handlebars
  apps/oak/static/email-templates/entry-validation.handlebars
  apps/oak/static/email-templates/new-contract.handlebars
  apps/oak/static/email-templates/new-entry.handlebars
  apps/oak/static/email-templates/new-user.handlebars
Labels: typescript, app

#1328 Fix/oak email templates
  apps/oak/src/email-templates/contract-signed.handlebars
  apps/oak/src/email-templates/entry-validation.handlebars
  apps/oak/src/email-templates/new-contract.handlebars
  apps/oak/src/email-templates/new-entry.handlebars
  apps/oak/src/email-templates/new-user.handlebars
  apps/oak/src/hooks.server.ts
Labels: typescript, app

#1329 Fix/oak email templates
  apps/oak/src/hooks.server.ts
Labels: typescript, app

#1330 Fix/oak email templates
  apps/oak/src/hooks.server.ts
Labels: typescript, app

#1332 Fix/oak email templates
  apps/oak/src/hooks.server.ts
Labels: typescript, app

#1333 Fix/oak email templates
  apps/oak/src/hooks.server.ts
Labels: typescript, app

#1334 adding new blog post and fixing up blog root layout to look good with…
  apps/startino/src/documentation/blog/2024-06-14-basics-of-data-driven-development-for-nontech-founders.md
  apps/startino/src/routes/blog/+page.svelte
  apps/startino/src/routes/blog/2024-05-27-mistakes-of-nontech-founders.md
  apps/startino/static/blog/2.png
  apps/startino/static/blog/2.webp
Labels: app, svelte

#1335 fixing top margin
  apps/startino/src/routes/blog/+layout.svelte
  apps/startino/src/routes/blog/+page.svelte
Labels: app, svelte

#1336 feat: oak contract rejection
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/db/bills.ts
  apps/oak/src/lib/server/db/contracts.ts
  apps/oak/src/lib/server/db/index.ts
  apps/oak/src/lib/server/db/profiles.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/app/bills/+page.server.ts
  apps/oak/src/routes/app/bills/[id]/+page.server.ts
  apps/oak/src/routes/app/bills/[id]/+page.svelte
  apps/oak/src/routes/app/bills/bill-form.svelte
  apps/oak/src/routes/app/contracts/+page.server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/contracts/contract-form.svelte
  apps/oak/supabase/.temp/cli-latest
Labels: typescript, app, svelte

#1361 feature / oak contract review
  apps/oak/src/email-templates/review-contracts.handlebars
  apps/oak/src/email-templates/review-submitted.handlebars
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/db/contracts.ts
  apps/oak/src/lib/server/db/report.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/api/approve-review/[reviewId]/+server.ts
  apps/oak/src/routes/api/bill-contracts/[vendorId]/+server.ts
  apps/oak/src/routes/api/dismiss-review/[reviewId]/+server.ts
  apps/oak/src/routes/api/reject-review/[reviewId]/+server.ts
  apps/oak/src/routes/api/request-reviews/+server.ts
  apps/oak/src/routes/app/contracts/+page.svelte
  apps/oak/src/routes/app/contracts/[id]/+page.server.ts
  apps/oak/src/routes/app/contracts/[id]/+page.svelte
  apps/oak/src/routes/app/contracts/contract-form.svelte
  apps/oak/src/routes/app/contracts/data-table-checkbox.svelte
  apps/oak/src/routes/app/contracts/data-table.svelte
  apps/oak/src/routes/app/personal-account/+page.server.ts
  apps/oak/src/routes/app/personal-account/+page.svelte
  apps/oak/src/routes/app/report/+page.svelte
  apps/oak/src/routes/app/users/+page.svelte
  apps/oak/supabase/.temp/cli-latest
Labels: typescript, app, svelte

#1362 oak report snapshot
  apps/oak/.vscode/extensions.json
  apps/oak/.vscode/settings.json
  apps/oak/src/lib/utils.ts
  apps/oak/src/routes/api/snapshot/+server.ts
  apps/oak/src/routes/app/report/+page.server.ts
  apps/oak/src/routes/app/report/+page.svelte
  apps/oak/supabase/.gitignore
  apps/oak/supabase/.temp/cli-latest
  apps/oak/supabase/config.toml
  apps/oak/supabase/functions/report-snapshot/index.ts
  apps/oak/supabase/seed.sql
Labels: typescript, app, svelte
