Repository startino/futino, pull requests merged in 2024-01, with the labels that each got.

#395 Add the contract repo data table
  apps/oak/components.json
  apps/oak/package.json
  apps/oak/src/app.pcss
  apps/oak/src/lib/components/ui/table/index.ts
  apps/oak/src/lib/components/ui/table/table-body.svelte
  apps/oak/src/lib/components/ui/table/table-caption.svelte
  apps/oak/src/lib/components/ui/table/table-cell.svelte
  apps/oak/src/lib/components/ui/table/table-footer.svelte
  apps/oak/src/lib/components/ui/table/table-head.svelte
  apps/oak/src/lib/components/ui/table/table-header.svelte
  apps/oak/src/lib/components/ui/table/table-row.svelte
  apps/oak/src/lib/components/ui/table/table.svelte
  apps/oak/src/routes/(app)/home/contract-repository/+page.svelte
  apps/oak/src/routes/(app)/home/contract-repository/data-table/data-table-actions.svelte
  apps/oak/src/routes/(app)/home/contract-repository/data-table/data-table-checkbox.svelte
  apps/oak/tailwind.config.js
  pnpm-lock.yaml
Labels: dependencies, javascript, typescript, python, app

#399 Fixup labeler languages
  .github/labeler.yml
Labels: ci

#402 Oak planning documents
  apps/oak/static/planning/erm.mmd
  apps/oak/static/planning/main.mmd
  apps/oak/static/planning/tables.md
Labels: app

#403 Add Caffeino's temporary landing page
  apps/caffeino/.prettierrc
  apps/caffeino/README.md
  apps/caffeino/components.json
  apps/caffeino/package.json
  apps/caffeino/playwright.config.ts
  apps/caffeino/src/app.d.ts
  apps/caffeino/src/app.html
  apps/caffeino/src/app.pcss
  apps/caffeino/src/index.test.ts
  apps/caffeino/src/lib/components/ui/button/index.ts
  apps/caffeino/src/lib/components/ui/input/index.ts
  apps/caffeino/src/lib/components/ui/input/input.svelte
  apps/caffeino/src/lib/components/ui/textarea/index.ts
  apps/caffeino/src/lib/components/ui/textarea/textarea.svelte
  apps/caffeino/src/lib/index.ts
  apps/caffeino/src/lib/utils.ts
  apps/caffeino/src/routes/+layout.svelte
  apps/caffeino/src/routes/+page.svelte
  apps/caffeino/src/routes/PricingSlider.svelte
  apps/caffeino/static/logo.png
  apps/caffeino/svelte.config.js
  apps/caffeino/tailwind.config.js
  apps/caffeino/tests/test.ts
  apps/caffeino/tsconfig.json
  apps/caffeino/vite.config.ts
  apps/website/src/routes/pricing/+page.svelte
  pnpm-lock.yaml
Labels: dependencies, javascript, typescript, app, svelte, css

#426 update the registration form
  apps/oak/package.json
  apps/oak/src/app.d.ts
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/components/molecules/AuthForm.svelte
  apps/oak/src/lib/components/organisms/Sidebar.svelte
  apps/oak/src/lib/helpers.ts
  apps/oak/src/lib/index.ts
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/types.ts
  apps/oak/src/routes/(app)/home/personal-account/+page.svelte
  apps/oak/src/routes/(marketing)/login/+page.server.ts
  apps/oak/src/routes/(marketing)/register/+page.server.ts
  apps/oak/src/routes/(marketing)/register/+page.svelte
  apps/oak/src/routes/app/+page.server.ts
  apps/oak/src/routes/app/company-account/+page.server.ts
  apps/oak/src/routes/app/company-account/+page.svelte
  apps/oak/types/supabase.ts
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#427 handle registration errors
  apps/oak/src/lib/components/ui/input-field/index.ts
  apps/oak/src/lib/components/ui/input-field/input-field.svelte
  apps/oak/src/lib/schemas.ts
  apps/oak/src/routes/(marketing)/register/+page.server.ts
  apps/oak/src/routes/(marketing)/register/+page.svelte
Labels: typescript, app, svelte

#435 fix futino's portfolio section bug
  apps/website/src/routes/ClientCard.svelte
Labels: app, svelte
