Repository startino/futino, pull requests merged in 2024-02, with the labels that each got.

#451 Implement the subscription feature
  apps/oak/src/app.d.ts
  apps/oak/src/app.pcss
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/api-client.ts
  apps/oak/src/lib/components/organisms/Sidebar.svelte
  apps/oak/src/lib/components/ui/payment-form/index.ts
  apps/oak/src/lib/components/ui/payment-form/payment-form.svelte
  apps/oak/src/lib/components/ui/pricing/PromotionToggle.svelte
  apps/oak/src/lib/components/ui/pricing/index.ts
  apps/oak/src/lib/components/ui/pricing/pricing.svelte
  apps/oak/src/routes/(marketing)/+layout.svelte
  apps/oak/src/routes/(marketing)/pricing/+page.svelte
  apps/oak/src/routes/(marketing)/register/+page.server.ts
  apps/oak/src/routes/api/save-payment-method/+server.ts
  apps/oak/src/routes/app/+layout@.svelte
  apps/oak/src/routes/app/+page.server.ts
  apps/oak/src/routes/app/logs/+page.svelte
  apps/oak/src/routes/app/stripe/webhooks/+server.ts
  apps/oak/src/routes/app/subscription/+layout.server.ts
  apps/oak/src/routes/app/subscription/+page.server.ts
  apps/oak/src/routes/app/subscription/+page.svelte
  apps/oak/src/routes/app/subscription/cancel/+server.ts
  apps/oak/src/routes/app/subscription/cancel/complete/+page.svelte
  apps/oak/src/routes/app/subscription/complete/+page.server.ts
  apps/oak/src/routes/app/subscription/complete/+page.svelte
  apps/oak/src/routes/app/subscription/monthly/+page.server.ts
  apps/oak/src/routes/app/subscription/monthly/+page.svelte
  apps/oak/src/routes/app/subscription/pricing.svelte
  apps/oak/src/routes/app/subscription/yearly/+page.server.ts
  apps/oak/src/routes/app/subscription/yearly/+page.svelte
Labels: typescript, app, svelte, css

#452 fix bapta's tours route issue
  apps/bapta/package.json
  apps/bapta/svelte.config.js
  apps/bapta/tailwind.config.cjs
  pnpm-lock.yaml
Labels: dependencies, javascript, app

#454 put the plugins import at the right place
  apps/bapta/src/routes/tours/+page.svelte
  apps/bapta/tailwind.config.cjs
Labels: app, svelte

#474 swapping gtag for new google account
  apps/website/src/app.html
  apps/website/src/routes/split-testing/+page.svelte
  pnpm-lock.yaml
Labels: app, svelte

#475 adding gtag manager to Bapta
  apps/bapta/src/app.html
Labels: app

#485 fix bapta's width issue
  apps/bapta/src/app.pcss
  apps/bapta/src/routes/tours/+page@.svelte
Labels: app, svelte, css

#505 implement the maeve editor
  apps/aitino/package.json
  apps/aitino/src/lib/components/Handle.svelte
  apps/aitino/src/lib/components/RightEditorSidebar.svelte
  apps/aitino/src/lib/components/ui/AgentNode.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-action.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-cancel.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-content.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-description.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-footer.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-header.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-overlay.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-portal.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/alert-dialog-title.svelte
  apps/aitino/src/lib/components/ui/alert-dialog/index.ts
  apps/aitino/src/lib/components/ui/button/index.ts
  apps/aitino/src/lib/components/ui/checkbox/checkbox.svelte
  apps/aitino/src/lib/components/ui/checkbox/index.ts
  apps/aitino/src/lib/components/ui/custom-node/agent.svelte
  apps/aitino/src/lib/components/ui/custom-node/index.ts
  apps/aitino/src/lib/components/ui/custom-node/prompt.svelte
  apps/aitino/src/lib/components/ui/textarea/index.ts
  apps/aitino/src/lib/components/ui/textarea/textarea.svelte
  apps/aitino/src/lib/types.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/app/+layout.svelte
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  apps/aitino/src/routes/app/editors/maeve/nodes-and-edges.ts
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#512 aitino preset input form
  apps/aitino/src/lib/components/layout/main-shell/index.ts
  apps/aitino/src/lib/components/layout/main-shell/main-shell.svelte
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/app/+layout.svelte
  apps/aitino/src/routes/app/account/+page.svelte
Labels: typescript, app, svelte

#514 Merging aitino waitlist branch into alpha-aitino
  apps/aitino/src/lib/components/Contact.svelte
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/lib/components/Hero.svelte
  apps/aitino/src/lib/supabase.ts
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/+page.server.ts
  apps/aitino/src/routes/+page.svelte
  pnpm-lock.yaml
Labels: dependencies, javascript, typescript, app, svelte, css

#515 add bapta map
  apps/anzelmo/package.json
  apps/bapta/package.json
  apps/bapta/src/app.html
  apps/bapta/src/app.pcss
  apps/bapta/src/lib/components/organisms/ContactForm.svelte
  apps/bapta/src/routes/contact/+page.svelte
  apps/bapta/src/routes/tours/+page@.svelte
  apps/template/package.json
  apps/website/package.json
  apps/website/src/app.html
  apps/website/src/routes/split-testing/+page.svelte
  apps/wonderlee/package.json
  pnpm-lock.yaml
Labels: dependencies, app, svelte, css

#517 add bapta map
  apps/bapta/package.json
  apps/bapta/src/lib/components/organisms/ContactForm.svelte
  apps/bapta/src/routes/contact/+page.svelte
  pnpm-lock.yaml
Labels: dependencies, app, svelte, css

#521 Changing icons, and fixing the sonner delay
  apps/aitino/src/lib/components/Contact.svelte
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/+page.svelte
Labels: app, svelte

#523 add whatsapp link
  apps/bapta/src/lib/components/organisms/FAQSection.svelte
  apps/bapta/src/routes/contact/+page.svelte
Labels: app, svelte

#525 save nodes to supabase
  apps/aitino/src/app.d.ts
  apps/aitino/src/lib/api-client.ts
  apps/aitino/src/lib/components/ui/custom-node/agent.svelte
  apps/aitino/src/lib/components/ui/custom-node/prompt.svelte
  apps/aitino/src/lib/types.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/app/+layout.svelte
  apps/aitino/src/routes/app/editors/maeve/+page.server.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  apps/aitino/src/routes/app/hooks.server.ts
  pnpm-lock.yaml
Labels: typescript, app, svelte

#527 Creating the basics for the chatlog frontend
  apps/aitino/src/lib/components/ChatRoom.svelte
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
Labels: app, svelte

#528 fixing rd issues on mobile
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/routes/+page.svelte
Labels: app, svelte

#531 bapta fix
  apps/bapta/src/lib/components/organisms/FAQSection.svelte
  apps/bapta/src/routes/contact/+page.svelte
  pnpm-lock.yaml
Labels: app, svelte

#534 added discord to socials, fixed no-scrolling issue for y-axis, added …
  apps/aitino/src/app.html
  apps/aitino/src/app.pcss
  apps/aitino/src/lib/components/Contact.svelte
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/routes/+page.svelte
Labels: app, svelte, css

#533 Feature/chatroom frontend
  apps/aitino/package.json
  apps/aitino/src/lib/components/ChatRoom.svelte
  apps/aitino/src/lib/components/ui/form/form-button.svelte
  apps/aitino/src/lib/components/ui/form/form-checkbox.svelte
  apps/aitino/src/lib/components/ui/form/form-description.svelte
  apps/aitino/src/lib/components/ui/form/form-input.svelte
  apps/aitino/src/lib/components/ui/form/form-item.svelte
  apps/aitino/src/lib/components/ui/form/form-label.svelte
  apps/aitino/src/lib/components/ui/form/form-native-select.svelte
  apps/aitino/src/lib/components/ui/form/form-radio-group.svelte
  apps/aitino/src/lib/components/ui/form/form-select-trigger.svelte
  apps/aitino/src/lib/components/ui/form/form-select.svelte
  apps/aitino/src/lib/components/ui/form/form-switch.svelte
  apps/aitino/src/lib/components/ui/form/form-textarea.svelte
  apps/aitino/src/lib/components/ui/form/form-validation.svelte
  apps/aitino/src/lib/components/ui/form/index.ts
  apps/aitino/src/lib/components/ui/radio-group/index.ts
  apps/aitino/src/lib/components/ui/radio-group/radio-group-item.svelte
  apps/aitino/src/lib/components/ui/radio-group/radio-group.svelte
  apps/aitino/src/lib/components/ui/switch/index.ts
  apps/aitino/src/lib/components/ui/switch/switch.svelte
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#535 added the crisp chatbot and also updated logo to the one with bg
  apps/aitino/src/routes/+page.svelte
  apps/aitino/static/favicon.png
Labels: app, svelte

#536 include receiver to supabase
  apps/aitino/src/lib/api-client.ts
  apps/aitino/src/lib/components/RightEditorSidebar.svelte
  apps/aitino/src/lib/config.ts
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  pnpm-lock.yaml
Labels: typescript, app, svelte

#543 add aitino avatars
  apps/aitino/src/lib/components/ui/custom-node/agent.svelte
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
Labels: typescript, app, svelte

#544 pick random names for agents
  apps/aitino/src/lib/avatars.ts
  apps/aitino/src/lib/config.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
Labels: typescript, app, svelte

#545 importing and exporting maeves
  apps/aitino/package.json
  apps/aitino/src/app.pcss
  apps/aitino/src/lib/components/ui/library/library.svelte
  apps/aitino/src/lib/dummy-data/maevePresets.ts
  apps/aitino/src/lib/dummy-data/temp-agents.ts
  apps/aitino/src/lib/dummy-data/temp-maeves.ts
  apps/aitino/src/lib/dummy-data/temp-workflows.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/app/editors/maeve/+page.server.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  apps/aitino/static/Searge_SDXL.json
  apps/aitino/static/comfyworkflows_watercolor_deer.json
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte, css

#546 Feature/chatroom frontend
  apps/aitino/package.json
  apps/aitino/src/app.d.ts
  apps/aitino/src/app.html
  apps/aitino/src/app.pcss
  apps/aitino/src/hooks.server.ts
  apps/aitino/src/lib/components/ChatRoom.svelte
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/lib/components/ui/custom-node/prompt.svelte
  apps/aitino/src/routes/+page.server.ts
  apps/aitino/src/routes/+page.svelte
  apps/aitino/src/routes/schema.ts
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte, css

#547 aitino - refactor
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/app/editors/maeve/+page.server.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
Labels: typescript, app, svelte

#550 Feature/chatroom frontend
  apps/aitino/src/lib/components/ChatRoom.svelte
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/lib/components/ui/custom-node/prompt.svelte
  apps/aitino/src/routes/+page.server.ts
  apps/aitino/src/routes/+page.svelte
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
Labels: typescript, app, svelte

#551 aitino - title, description for maeves
  apps/aitino/src/lib/api-client.ts
  apps/aitino/src/lib/components/RightEditorSidebar.svelte
  apps/aitino/src/lib/supabase.ts
  apps/aitino/src/lib/supabase.types.ts
  apps/aitino/src/lib/types.ts
  apps/aitino/src/routes/app/editors/maeve/+page.server.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
Labels: typescript, app, svelte

#552 Adding SEO components and getting the blog stuff in place
  apps/aitino/package.json
  apps/aitino/src/app.html
  apps/aitino/src/lib/blog/posts.ts
  apps/aitino/src/lib/blog/posts/research-multi-agent-systems-aitino-future.md
  apps/aitino/src/lib/components/SEO/OpenGraph.svelte
  apps/aitino/src/lib/components/SEO/Twitter.svelte
  apps/aitino/src/lib/components/SEO/index.svelte
  apps/aitino/src/lib/components/SEO/types.ts
  apps/aitino/src/lib/config/website.ts
  apps/aitino/src/lib/types.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/+error.svelte
  apps/aitino/src/routes/+page.svelte
  apps/aitino/src/routes/api/posts/+server.ts
  apps/aitino/src/routes/blog/(blog-article)/+layout.svelte
  apps/aitino/src/routes/blog/(blog-article)/+layout.ts
  apps/aitino/src/routes/blog/(blog-article)/[slug]/+page.svelte
  apps/aitino/src/routes/blog/(blog-article)/[slug]/+page.ts
  apps/aitino/src/routes/blog/+error.svelte
  apps/aitino/src/routes/blog/+page.svelte
  apps/aitino/src/routes/blog/+page.ts
  apps/aitino/static/logo.svg
  apps/aitino/static/logo_64px.png
  apps/aitino/svelte.config.js
  apps/aitino/tailwind.config.js
  apps/aitino/theme/typography.cjs
  pnpm-lock.yaml
Labels: dependencies, javascript, typescript, app, svelte

#554 fixing prerender issue for dynamic blog pages
  apps/aitino/src/lib/config/website.ts
  apps/aitino/src/routes/blog/(blog-article)/[slug]/+page.ts
Labels: typescript, app

#559 fix no existing maeve error
  apps/aitino/src/lib/api-client.ts
  apps/aitino/src/routes/app/editors/maeve/+page.server.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  pnpm-lock.yaml
Labels: typescript, app, svelte

#560 Updating blog system and structure for easier maintainability
  apps/aitino/documentation/blog/2024-02-21-research-multi-agent-systems-aitino-future.md
  apps/aitino/package.json
  apps/aitino/src/app.html
  apps/aitino/src/constants.ts
  apps/aitino/src/lib/config/website.ts
  apps/aitino/src/lib/server/blog/index.ts
  apps/aitino/src/lib/server/blog/types.d.ts
  apps/aitino/src/lib/types.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/+page.svelte
  apps/aitino/src/routes/api/posts/+server.ts
  apps/aitino/src/routes/blog/(blog-article)/+layout.svelte
  apps/aitino/src/routes/blog/(blog-article)/[slug]/+page.server.ts
  apps/aitino/src/routes/blog/(blog-article)/[slug]/+page.svelte
  apps/aitino/src/routes/blog/(blog-article)/[slug]/+page.ts
  apps/aitino/src/routes/blog/+page.server.ts
  apps/aitino/src/routes/blog/+page.svelte
  apps/aitino/src/routes/blog/+page.ts
  apps/aitino/static/favicon.png
  apps/aitino/static/logo.png
  apps/aitino/static/logo.svg
  apps/aitino/static/logo_rounded.png
  apps/aitino/static/logo_rounded.svg
  apps/aitino/static/logo_rounded_200px.png
  apps/aitino/static/logo_rounded_64px.png
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#568 aitino - fix duplicate name, update emoji list
  apps/aitino/src/lib/config.ts
  apps/aitino/src/lib/supabase.types.ts
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  apps/aitino/static/avatars/1F61A.svg
  apps/aitino/static/avatars/1F61B.svg
  apps/aitino/static/avatars/1F61C.svg
  apps/aitino/static/avatars/1F61D.svg
  apps/aitino/static/avatars/1F61E.svg
  apps/aitino/static/avatars/1F61F.svg
  apps/aitino/static/avatars/1F62A.svg
  apps/aitino/static/avatars/1F62B.svg
  apps/aitino/static/avatars/1F62C.svg
  apps/aitino/static/avatars/1F62D.svg
  apps/aitino/static/avatars/1F62E-200D-1F4A8.svg
  apps/aitino/static/avatars/1F62E.svg
  apps/aitino/static/avatars/1F62F.svg
  apps/aitino/static/avatars/1F910.svg
  apps/aitino/static/avatars/1F911.svg
  apps/aitino/static/avatars/1F912.svg
  apps/aitino/static/avatars/1F915.svg
Labels: typescript, app, svelte

#573 Adding header and accomodating landing page for it
  apps/aitino/src/app.html
  apps/aitino/src/lib/blog/posts.ts
  apps/aitino/src/lib/components/BlogContentsTable.svelte
  apps/aitino/src/lib/components/Contact.svelte
  apps/aitino/src/lib/components/Footer.svelte
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/lib/components/Header.svelte
  apps/aitino/src/lib/components/layout/main-shell/index.ts
  apps/aitino/src/lib/components/layout/shell/app-shell.svelte
  apps/aitino/src/lib/components/layout/shell/index.ts
  apps/aitino/src/lib/components/layout/shell/main-shell.svelte
  apps/aitino/src/lib/components/ui/logo/index.ts
  apps/aitino/src/lib/components/ui/logo/logo.svelte
  apps/aitino/src/lib/server/blog/index.ts
  apps/aitino/src/lib/server/blog/types.d.ts
  apps/aitino/src/lib/types.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/+page.svelte
  apps/aitino/src/routes/app/account/+page.svelte
  apps/aitino/src/routes/blog/(blog-article)/+layout.svelte
  apps/aitino/src/routes/blog/+page.svelte
  apps/aitino/static/logo/aitino_logo_bg_rounded3xl.svg
  apps/aitino/static/logo/aitino_logo_bg_roundedfull.svg
  apps/aitino/static/logo/aitino_logo_bg_roundedmd.svg
  apps/aitino/static/logo/logo.png
  apps/aitino/static/logo/logo.svg
  apps/aitino/static/logo/logo_nobg.png
  apps/aitino/static/logo/logo_nobg_nopadding.png
  apps/aitino/static/logo/logo_nobg_nopadding.svg
  apps/aitino/static/logo/logo_nopadding.png
  apps/aitino/static/logo/logo_nopadding.svg
  apps/aitino/static/logo/logo_rounded.png
  apps/aitino/static/logo/logo_rounded.svg
  apps/aitino/static/logo/logo_rounded_200px.png
  apps/aitino/static/logo/logo_rounded_64px.png
  apps/website/src/app.html
Labels: typescript, app, svelte

#579 allow user to zoom out more
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
Labels: app, svelte

#580 Blog UI and editing first blog
  apps/aitino/documentation/blog/2024-02-21-research-multi-agent-systems-aitino-future.md
  apps/aitino/src/app.html
  apps/aitino/src/constants.ts
  apps/aitino/src/lib/components/BlogContentsTable.svelte
  apps/aitino/src/lib/components/FormItem.svelte
  apps/aitino/src/lib/components/Header.svelte
  apps/aitino/src/lib/components/layout/shell/index.ts
  apps/aitino/src/lib/components/ui/logo/index.ts
  apps/aitino/src/lib/documentation/aitino-blog-
  apps/aitino/src/lib/documentation/blog/2024-02-21-research-multi-agent-systems-aitino-future.md
  apps/aitino/src/lib/server/blog/index.ts
  apps/aitino/src/lib/server/blog/types.d.ts
  apps/aitino/src/lib/utils.ts
  apps/aitino/src/routes/(marketing)/+layout.server.ts
  apps/aitino/src/routes/(marketing)/+layout.svelte
  apps/aitino/src/routes/(marketing)/+layout.ts
  apps/aitino/src/routes/(marketing)/+page.server.ts
  apps/aitino/src/routes/(marketing)/+page.svelte
  apps/aitino/src/routes/(marketing)/blog/(blog-article)/+layout.svelte
  apps/aitino/src/routes/(marketing)/blog/(blog-article)/+layout.ts
  apps/aitino/src/routes/(marketing)/blog/(blog-article)/[slug]/+page.server.ts
  apps/aitino/src/routes/(marketing)/blog/(blog-article)/[slug]/+page.svelte
  apps/aitino/src/routes/(marketing)/blog/+layout.svelte
  apps/aitino/src/routes/(marketing)/blog/+page.server.ts
  apps/aitino/src/routes/(marketing)/blog/+page.svelte
  apps/aitino/src/routes/+error.svelte
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/app/+layout@.svelte
  apps/aitino/src/routes/blog/(blog-article)/+layout.svelte
  apps/aitino/src/routes/blog/(blog-article)/[slug]/+page.svelte
  apps/aitino/src/routes/blog/+error.svelte
  apps/aitino/src/routes/blog/+page.svelte
  apps/aitino/static/blog/low_res_n_00014_.png
  apps/aitino/static/people/jonas-lindberg.jpg
  apps/aitino/static/people/jorge-lewis.png
Labels: typescript, app, svelte

#593 Dependabot Auto-Approve.yml
  .github/workflows/dependabot-auto-approve.yml
Labels: ci

#602 Update dependabot-auto-approve.yml to squash merge
  .github/workflows/dependabot-auto-approve.yml
Labels: ci

#606 added sonner back to root layout group so that app can inherit it
  apps/aitino/src/routes/(marketing)/+layout.svelte
  apps/aitino/src/routes/+layout.svelte
  apps/aitino/src/routes/app/+layout.svelte
Labels: app, svelte

#607 Chat backend for recieving messages
  apps/aitino/src/app.pcss
  apps/aitino/src/lib/api-client.ts
  apps/aitino/src/lib/components/ChatRoom.svelte
  apps/aitino/src/lib/components/ui/textarea/textarea.svelte
  apps/aitino/src/routes/(marketing)/+layout.svelte
  apps/aitino/src/routes/api/v1/prompt/+server.ts
  apps/aitino/src/routes/api/v1/reply/+server.ts
  apps/aitino/src/routes/app/+layout.svelte
  apps/aitino/src/routes/app/editors/maeve/+page.svelte
  apps/aitino/src/routes/app/sessions/+page.svelte
  apps/aitino/src/routes/app/sessions/Chat.svelte
  apps/aitino/src/routes/app/sessions/Message.svelte
  apps/aitino/theme/color.cjs
  apps/aitino/theme/typography.cjs
  pnpm-lock.yaml
  shell.nix
Labels: typescript, app, svelte, css

#617 oak contract entry form
  apps/oak/package.json
  apps/oak/src/app.d.ts
  apps/oak/src/hooks.server.ts
  apps/oak/src/lib/api-client.ts
  apps/oak/src/lib/components/atoms/Combobox.svelte
  apps/oak/src/lib/components/ui/sonner/index.ts
  apps/oak/src/lib/components/ui/sonner/sonner.svelte
  apps/oak/src/lib/schemas.ts
  apps/oak/src/lib/server/approvers.ts
  apps/oak/src/lib/server/supabase.types.ts
  apps/oak/src/lib/server/vendors.ts
  apps/oak/src/routes/+layout.svelte
  apps/oak/src/routes/api/vendor/+server.ts
  apps/oak/src/routes/app/+layout.server.ts
  apps/oak/src/routes/app/+layout.ts
  apps/oak/src/routes/app/contract-entry-form/+page.server.ts
  apps/oak/src/routes/app/contract-entry-form/+page.svelte
  apps/oak/src/routes/app/subscription/+layout.server.ts
  apps/oak/src/routes/app/subscription/+page.server.ts
  apps/oak/src/routes/app/subscription/cancel/+server.ts
  apps/oak/src/routes/app/subscription/yearly/+page.server.ts
  pnpm-lock.yaml
Labels: dependencies, typescript, app, svelte

#621 Pricing page changes
  apps/website/src/lib/faqs.ts
  apps/website/src/routes/about/+page.svelte
  apps/website/src/routes/pricing/+page.svelte
  apps/website/src/routes/pricing/PromotionToggle.svelte
  apps/website/src/routes/pricing/TierListing.svelte
  apps/website/src/routes/pricing/plans.ts
Labels: typescript, app, svelte
